<div id="portfolioDetail">
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Portfolio Overview
                    </h1>
                    <!--<div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Overview</h3>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <!--                            <div class="col-xs-3">
                                                                <i class="fa fa-comments fa-5x"></i>
                                                            </div>-->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0.44%</div>
                                    <div>Value Change</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <!--                            <div class="col-xs-3">
                                                                <i class="fa fa-tasks fa-5x"></i>
                                                            </div>-->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">1,126%</div>
                                    <div>Unrealized Gain/Loss</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <!--                            <div class="col-xs-3">
                                                                <i class="fa fa-shopping-cart fa-5x"></i>
                                                            </div>-->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0.44%</div>
                                    <div>Total Returns Today</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <!--                            <div class="col-xs-3">
                                                                <i class="fa fa-support fa-5x"></i>
                                                            </div>-->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0.30%</div>
                                    <div>versus Benchmark</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> MY PORTFOLIOs</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Portfolio Name</th>
                                    <th>Portfolio PNL</th>
                                    <th>Total Return</th>
                                    <th>Total Amount Outstanding</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="holding in portfolio.holdings">
                                    <th scope="row">{{holding.holdingName}}</th>
                                    <td>{{holding.percentOfHolding}}</td>
                                    <td>{{holding.lastTraded}}</td>
                                    <td>{{holding.valueChangedOneDay}}
                                    <td><button type="button" class="btn btn-link" ng-click="forwardTODetails()">details</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </div>
</div>